---
import config from "@/config/config.json";
import { plainify } from "@/lib/utils/textConverter";
import Footer from "@/partials/Footer.astro";
import Header from "@/partials/Header.astro";
import "@/styles/main.css";

export interface Props {
  title?: string;
  meta_title?: string;
  description?: string;
  image?: string;
  noindex?: boolean;
  canonical?: string;
}

const { title, meta_title, description, image, noindex, canonical } = Astro.props;
const pageTitle = plainify(meta_title ? meta_title : title ? title : config.site.title);
const pageDescription = plainify(description ? description : config.metadata.meta_description);
const pageImage = `${config.site.base_url}${image ? image : config.metadata.meta_image}`;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <link rel="shortcut icon" href={config.site.favicon} />
    <meta name="theme-name" content="buweihao-portfolio" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#fff" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#000" />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
    <title>{pageTitle}</title>
    {canonical && <link rel="canonical" href={canonical} item-prop="url" />}
    {noindex && <meta name="robots" content="noindex,nofollow" />}
    <meta name="description" content={pageDescription} />
    <meta name="author" content={config.metadata.meta_author} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={pageDescription} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={`${config.site.base_url}${Astro.url.pathname}`} />
    <meta property="og:image" content={pageImage} />
    <meta name="twitter:title" content={pageTitle} />
    <meta name="twitter:description" content={pageDescription} />
    <meta name="twitter:image" content={pageImage} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body class="flex min-h-screen flex-col">
    <Header />
    <main class="grow" id="main-content">
      <slot />
    </main>
    <Footer />
  </body>
</html>
